<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="author" content="Ronnie Bailey">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:title" content="{{ page.title }} | {{ site.title }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="{{ '/assets/images/og-image.jpg' | absolute_url }}">
<meta name="twitter:card" content="summary_large_image">
