<article class="post-card">
  <div class="post-card-content">
    <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
    <div class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%B %d, %Y" }}
      </time>
      <div class="post-tags">
        {% for tag in post.tags limit:3 %}
          <a href="{{ '/tags' | relative_url }}#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
    <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
    <a href="{{ post.url | relative_url }}" class="read-more">Read Analysis</a>
  </div>
</article>
